.main-player{
    background-color: grey;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0px 16px;

    .song-details{
        font-family: circular;
        display: flex;
        align-items: center;
        img{
            width: 56px;
            height: 56px;
            margin: 0px 14px 0px 0px;
        }
        h1{
            font-size: 13px;
            font-weight: 400;
        }
        h2{
            font-family: circular-light;
            font-size: 11px;
        }
        svg-icon{
            margin: 0px 28px 0px;
        }
    }

    .player-controller{
        align-self: center;
    }
}